@model MVCProekt.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)$
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/images/@Model.ProductImage" height="150" width="150">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cook)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.CookId != null)
            {
                <a asp-controller="Cooks" asp-action="Details" asp-route-id="@Model.CookId">@Html.DisplayFor(model => model.Cook.FullName)</a>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        <dd class="col-sm-10">
            @foreach (var category in Model.Categories)
            {
                <a asp-controller="Categories" asp-action="Details" asp-route-id="@category.CategoryId">
                    @category.Category.CategoryName
                </a> <br />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
